.main-bar{
    display: flex;
    flex-direction: row;

}

.divider {
    width: 1px;
    height: 100%;
    margin: 0 5px;
}

.vertical-divider {
    height: 20px;
    width: 100%;
    margin: 0 1px;
    visibility: hidden;
}