/* DashboardPage.css */
.Dash {
    display: flex;       /* hace que Sidebar y contenido estén lado a lado */
    flex-direction: row; /* lateral horizontal */
    width: 100vw;
    height: 100vh;
    background-color: #f3f4f6; /* opcional */
}

.Dashcontent {
    flex: 1;
    display: flex;
    flex-direction: column; /* Topbar arriba, ContentArea y FooterBar abajo */
    min-height: 0;          /* importante para que overflow-auto funcione en ContentArea */
}
