.def-button {
    width: 100%;
    padding: 12px;
    background-color: rgba(74, 96, 255, 0.8);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s ease;
}

.def-button:hover {
    background-color: rgba(0, 86, 179, 0.8);
}
