.input {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
    transition: 0.2s;
}

/* Variantes */
.input.default {
    background: white;
    border-color: #ccc;
}

.input.modal {
    background: rgba(255, 255, 255, 0.3);
    color: #000;
    border: #000
}

.input.highlight {
    border: 2px solid #4a60ff;
    background: #eef2ff;
}
